body {
    background: fuchsia;
}

ul {
    list-style-type: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.page-item {
    display: inline;
}

.bandeau {
    margin-top: 10px;
    height: 20%;
    text-align: center;
}

.post {
    max-width: 100%;
    align-self: center;
    margin-bottom: 1em;
}

.new-post {
    align-self: center;
}

.corps {
    display: flex;
    margin: 7px 0;
    max-width: 100%;
}

.signature {
    background-color: #a5a37c;
}

.nouveau:hover {
    background-color: royalblue;
}

