body {
    background: fuchsia;
}

ul {
    list-style-type: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.page-item {
    display: inline;
}

.bandeau {
    border: 3px solid black;
    background-color: white;
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 999;
    width: 20%;
    height: 250px;
}

.phrase {
    margin-top: 40px;
    text-align: center;
}

.encore {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contrib {
    width: 100%;
    position: absolute;
    top: 0;
}

.post {
    max-width: 100%;
    align-self: center;
    margin-bottom: 1em;
}

.new-post {
    align-self: center;
}

.corps {
    display: flex;
    margin: 7px 0;
    max-width: 100%;
}

.signature {
    background-color: #a5a37c;
}

.nouveau:hover {
    background-color: royalblue;
}

